h1 {float: left;
    text-align: left;
    color: #fff;
}
 a {
    background: #555; 
    margin-top: 10px;
    padding: 10px 15px; 
    color: #fff; 
    border-radius: 5px; 
    margin-right: 10px; 
    border: none; 
    text-decoration: none;
    width: 50px;
    justify-content: center;
}
.nav-item a {
    float: left;
}

a:hover{
    opacity: .7;
}

body {
    background: #1690a7;
    display: flex;
    
    height: 100vh;
    flex-direction: column;
}
.container{
    margin-left: 25% ;
    width: 50%;
    border: 3px solid rgb(0, 41, 128);
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    height: 500px;
    
}
.title{
    text-align: center;
    font-size: 40px;
}
.user-details{
    margin-top: 20px;
    text-align: center;
}
.input-box{
    margin: 20px;
    font-size: 20px;
}
input{
    height: 20px;
}
tr{
    height: 50px;
}
td{
    text-align: center;
}